node_modules
settings.json
build
streamers.json
.eslintrc.json
modules/pokedex/egg_group
modules/pokedex/generation
modules/pokedex/icons
modules/pokedex/schemas
modules/pokedex/nature
modules/twitch/
commands/twitch_old.js
commands/eval.js
.vscode/
data/